@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('path\ 2.jpg');
}

.container {
  background-color: #211e1e70;
  align-items: center;
  width: 400px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(236, 236, 0, 0.989);
}

.container h2 {
  text-align: center;
  color: #cdbf22e6;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #554848;
  font-size: 16px;
  padding: 5px 0;
  transition: border-bottom-color 0.3s;
}

.form-group input:focus {
  outline: none;
  border-bottom-color: #c1d320;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-size: 16px;
  padding: 5px 0;
  pointer-events: none;
  transition: all 0.3s;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 16px;
  color: #cdbf22e6;
}

.btn {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #cdbf22e6;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.or {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.google-btn {
  background-color: #5fd0cb;
  color: #000000;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
