body{
    color:rgb(66, 143, 143);
    font-family: "Poppins", sans-serif;

}

.jumbotron{
    background-color: transparent;
    margin: 0;
    padding: 10px;

}

.jumbotron h1{
    font-size: 2em;
    font-weight: bold;

}
.jumbotron h1,
.jumbotron p{
    text-align: center;

}

.jumbotron p{
    font-size: 1em;

}
#googleMap{
    width: 95%;
    height: 500px;
    margin: 20px auto;
}
#output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;

}